
.about-body{
    background-color:white;
    text-align: center;
    height:auto;
    border:5px solid #000;
    border-radius: 5px;


}

.main-heading{
    font-size:60px;
    color:black;
    text-align:center;
    margin-top:30px;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;

}
.secondary-heading{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#e21313;
}
.heading{
    color:#000;
    font-size:21px;
    text-align:center;
}
.para{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}


.para-description{
  color:#e21313;
  font-family: cursive;
  font-size: 18px;
  height:250px;
  width:400px;
  text-align: center;
}
   
.tertiary-heading{
  color:#000;
  font-size: 30px;
  text-align: center;
}
.services{
  height:300px;
  width:300px;
  border-radius: 5px;
  border:solid 2px #000;
  box-shadow: 1px 1px 1.5px 1.5px #000;
  margin: 10px;
  background-color: #fff;
  display:inline-block;
  margin: 10px 35px;
  text-align: center;
  flex-wrap: wrap;

}
.img-services{
  height:200px;
  width:200px;
  border-radius: 7px;
  margin-top: 20px;
  display: block;
  margin: 10px auto;
  object-fit: cover;
 
}
.service-description{
    font-size: 20px;
    color:#000;
}
.staff-table{
  display: inline-block;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: cursive;
  color:#e21313;
  
}
  
.values{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: cursive;
    color:#e21313;
 }
 

.map{
   
  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:100px;
    margin-right: 200px;
    border: solid 3px #000;
}
.overview{
    display:flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    border: solid 3px #000;
}

.map-container{
  height:700px;
  width:1200px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
 }

 body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.container {
  width: fit-content;
  margin: 20px auto;
  position: relative;
}

.slide {
  height: 700px;
  width: 1300px;
  object-fit: cover;
}

.icon-action {
  height: 70px;
  position: absolute;
  top: 40%;
  cursor: pointer;
  transition: 0.5s;
}

.icon-back {
  left: 0;
}

.icon-back:hover {
  transform: scale(0.8) translateX(-10px);
}

.icon-next {
  right: 0;
}

.icon-next:hover {
  transform: scale(0.8)translateX(10px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e21313;
  color: white;
}

#search-bar {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #fff;
}

main {
  padding: 20px;
}

#participants {
  display: flex;
  margin: 5px 0px;
  gap: 10px;
}

.participant {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}