.map{
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 400px;
}
.heading{
    font-size: 30px;
    text-align: center;
}
footer {
    /* background: #004d40; */
    /* background-color: #0f1111; */
    background-color: white;
    color: black;
    /* color: white; */
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-content > div {
    flex: 1;
    margin: 10px;
}
.contact-info, .quick-links, .social-media, .newsletter-signup {
    max-width: 300px;
}

.contact-info h3, .quick-links h3, .social-media h3, .newsletter-signup h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.contact-info p {
    margin: 5px 0;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links ul li {
    margin: 10px 0;
}
.quick-links ul li a {
    color: black;
    /* color: white; */
    text-decoration: none;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}
.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
}

.newsletter-signup input[type="email"] {
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 10px;
}

.newsletter-signup button {
    padding: 10px;
    background-color: /*red*/#00332b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.newsletter-signup button:hover {
    background-color: #004d40;
}

.footer-bottom {
    border-top: 1px solid #00332b;
    padding: 10px 0;
}

@media (min-width: 769px) {
    .hamburger-menu {
        display: none; 
       
    }

    .nav-links {
        display: flex; 
    }

    #sidebar {
        display: none; 
    }
}
@media (max-width: 480px) {
    .logo img {
        height: 40px; 
    }
}


