.map{
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 400px;
}
.heading{
    font-size: 30px;
    text-align: center;
}
footer {
    /* background: #004d40; */
    /* background-color: #0f1111; */
    background-color: white;
    color: black;
    /* color: white; */
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-content > div {
    flex: 1;
    margin: 10px;
}
.contact-info, .quick-links, .social-media, .newsletter-signup {
    max-width: 300px;
}

.contact-info h3, .quick-links h3, .social-media h3, .newsletter-signup h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.contact-info p {
    margin: 5px 0;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links ul li {
    margin: 10px 0;
}
.quick-links ul li a {
    color: black;
    /* color: white; */
    text-decoration: none;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}
.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
}

.newsletter-signup input[type="email"] {
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 10px;
}

.newsletter-signup button {
    padding: 10px;
    background-color: /*red*/#00332b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.newsletter-signup button:hover {
    background-color: #004d40;
}

.footer-bottom {
    border-top: 1px solid #00332b;
    padding: 10px 0;
}

@media (min-width: 769px) {
    .hamburger-menu {
        display: none; 
       
    }

    .nav-links {
        display: flex; 
    }

    #sidebar {
        display: none; 
    }
}
@media (max-width: 480px) {
    .logo img {
        height: 40px; 
    }
}
header {
    /* background-color: #004d40; */
    /* background-image: linear-gradient(to right, rgb(0, 0, 26), rgb(0, 0, 77),  rgb(0, 0, 128)); */
    /* background-image: linear-gradient(to right, rgb(1, 58, 1), rgb(34, 21, 21)); */
    /* background-color: #131A22; */
    /* background-color: #0f1111;
    color: white; */
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
 
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    /* color: white; */
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    /* text-decoration: underline; */
}
.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    color: black;
    position: absolute;
    /*right: 20px;*/
    left: 20px;
    visibility: hidden;
}

b {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #deddddf1;
}

.close-menub {
    margin: 10px 0 0 0;
    /* margin-left: 10px; */
    margin-left: 140px;
    font-size: 30px;
    cursor: pointer;
}
#sidebar {
    margin: 0;
    display: none;
    position: fixed;
    top: 1px;
    /* right: 3px; */
    left: 1px;
    width: auto;
    height: 100vh;
    border-right: 1px solid gray;
    background-color: #e1dfdf;
    box-shadow: 0 0 10px 5px rgb(155, 151, 151);
    z-index: 1000;
}

#sidebar li {
    margin: 12px;
    text-align: center;
    list-style: none;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease;
    
}

#sidebar li:hover{
    background-color: #fff;
    transform: translateY(-10%);
}


.search-bar {
    display: block;
    justify-content: center;
    width: 50vh;
    margin-top: 1px;
    padding: 10px 20px;
    border: 1px solid gray;
    /* border-radius: 8px; */
    border-radius: 8px 0 0 8px;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
}
.search-bar:hover, .menu-i:hover {
    border-color: black;
}

.menu-text {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 8px;
}
.menu-i {
    padding: 7px 8px;
    border: 1px solid gray;
    border-radius: 0 8px 8px 0;
    /* margin-left: 25%; */
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}
.menu-icon {
    font-size: 28px;
}

.menu-item {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}



