
          
            .text{
                text-align:center;
                font-family:'Times New Roman', Times, serif;
                font-weight:bold;
                color:black;
                font-size:20px;
                
  }
            .container {
                background-color:white;
                color:black;
                width:300px;
                height:420px;
                border:2px solid black;
                /*padding:30px 60px;*/
                margin:40px;
                display:inline-block;
                border-radius:10px 12px;
               
            }
           
            
           

            
            
            .img{
                object-fit: contain;
                width: 100%;
                height:200px;
                margin-top:5px;
               
               
            }
             
          
            .price{
                font-family:Lora;
                text-align:center;
                margin:2px;
                

            }
            .btn{
                background-color:white;
                color:black;
                margin-left:33px;
                margin-top:10px;
                padding:5px;
                width:220px;
                height:40px;
                text-align:center;
                font-family:Lora;
                font-weight:bold;
                border-radius:10px 12px;
            }
          
            .SeeMore{
                background-color:white;
                color:black;
                margin-left:33px;
                margin-top:10px;
                padding:5px 10px;
                width:220px;
                height:40px;
                text-align:center;
                font-family:Lora;
                font-weight:bold;
                border-radius:10px 12px;
             }
           

           
    